---
  BasedOnStyle: Google
  AccessModifierOffset: 0
  IndentAccessModifiers: true
  IndentRequiresClause: true
  CompactNamespaces: true
  EmptyLineAfterAccessModifier: Always
  FixNamespaceComments: true
  SeparateDefinitionBlocks: Always
  SortIncludes: CaseInsensitive
  SpaceAfterLogicalNot: false
  SpaceAfterTemplateKeyword: false
...
